* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #5a5a5a;
  font-family: "Fira Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

button {
  border: none;
}

.hero-1 {
  background-color: #fbf7ec;
  height: 857px;
}
nav {
  padding: 30px 0;
  top: 0;
}

h2 {
  font-size: 55px;
}

h4 {
  font-size: 26px;
}

.text-white {
  color: #fff;
}
/* syntax */

.ml-5 {
  margin-left: 200px;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.container {
  width: 85%;
  max-width: 1220px;
  margin: 0 auto;
}

.column {
  flex-direction: column-reverse;
}

.btn-nav {
  text-decoration: none;
  color: #fff;
  background-color: #756bee;
  padding: 8px 28px 8px 28px;
  border-radius: 20px;
  transition: 0.3s;
}

.btn-nav:hover {
  background-color: #2d2497;
}

.mt-3 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

/* edit */
s .nav-item,
.nav-item a {
  text-decoration: none;
  margin-right: 15px;
  transition: 0.1s;
}

.nav-item a:hover {
  color: #2d2497;
  font-weight: bold;
}

nav ul {
  list-style: none;
}

.content {
  margin-top: 50px;
}

.checkbtn {
  color: #fff;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.content article h1 {
  font-size: 60px;
}
.content article span {
  font-size: 60px;
  color: #756bee;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content p,
.content button {
  margin-top: 20px;
}

.content article h2 {
  font-size: 30px;
}

.bg-white h4 {
  font-size: 30px;
  margin-top: -30px;
}

.bg-white {
  padding: 120px 0;
  background-color: #fff;
}

.bg-gray {
  background-color: #f5f4f0;
  padding: 120px 0;
}

.card {
  background-color: #fff;
  padding: 30px;
}
